.users {
  margin-top: 1rem;
  padding: 2rem 3rem;
  background: #202227;
  box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.2);
}

.users ul {
  list-style: none;
  margin-top: 1rem;
}

.users ul li {
  padding: 0.8rem;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  filter: brightness(0.9);
}

.users ul li button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

li + li {
  margin-top: 0.5rem;
}

input {
  padding: 1rem;
  padding-left: 1.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.add button {
  margin-left: 2px;
  padding: 1rem 1.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: none;
  color: #f2f2f2;
  background: #30b22c;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 0.3s;
  font-size: 1rem;
}

button:hover {
  filter: brightness(0.7);
}
